
.nav{
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.footer{
  height : 60px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
}

.hola{
  display: flex;
  justify-content: center;
  color : rgb(17, 0, 255)
}

.hole{
  display: flex;
  justify-content: center;
  color : yellow
}
.test{
  display: flex;
  justify-content: center;
  gap :100px
}