
.nav{
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  height : 60px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
}